* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(10, 6, 6);
}

.inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 50;
    background-color: rgb(10, 6, 6);
    width: 32%;
    height: 75vh;
}

/* NAV */

.menuMobile {
    display: none;
}

.navIzq {
    position: absolute;
    left: 0;
    width: 20%;
    height: 100vh;
    padding: 1.5rem;
    animation: aparecerNav 3s;
    background-color: rgb(4, 17, 17);
    box-shadow: 3px 5px 10px -1px rgba(244, 244, 244, 0.955);
    border-radius: 2%;
    display: none;
}

.navIzq:hover {
    background-color: rgb(3, 47, 47);
    box-shadow: 3px 5px 10px -1px rgba(244, 244, 244, 0.955);
}

.ul-nav {
   display: flex;
   flex-direction: column;
   width: auto;
   height: 100%;
   justify-content: space-evenly;
   margin: auto;
}

.ul-subNav {
   display: flex;
   flex-direction: column;
   width: auto;
   height: 120px;
   justify-content: center;
   margin: auto;
   display: none;
   position: absolute;
   top: 45%;
   left: 0;
   width: 100%;
   height: 115px;
   background-color: rgb(171, 42, 42);
}

/* paginas - subNav hover */

.ul-subNavP {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 120px;
    justify-content: center;
    margin: auto;
    display: none;
    position: absolute;
    top: 11%;
    left: 29%;
    height: 115px;
    background-color: rgb(171, 42, 42);
 }

@keyframes aparecerSubNav {
    0% {
        top: 40%;
        opacity: 0;
    }
    100% {
        top: 45%;
        opacity: 1;
    }
}

@keyframes cerrarSubNav {
    100% {
        top: 45%;
        opacity: 1;
    }
    0% {
        top: 0;
        opacity: 0;
    }
}

li {
    text-decoration: none;
    list-style: none;
    text-align: center;
}

.link {
    text-decoration: none;
    color: rgb(244, 244, 236);
    font-size: 2rem;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 5px;
    margin: auto;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .5s;
}

.subLink {
    text-decoration: none;
    color: rgb(244, 244, 236);
    font-size: 1.5rem;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 5px;
    margin: 5px;
    color: rgb(14, 14, 2);
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .5s;
}

.subLink:hover {
    color: rgb(216, 216, 66);
    transform: scale(1.1);
    background-size: 100% 2px;
}

.linkImg {
    width: 50px;
    height: 50px;
}

.link:hover {
    color: rgb(171, 42, 42);
    transform: scale(1.1);
    background-size: 100% 2px;
}

/* NAV PAGINAS */

.ul {
   display: flex;
   flex-direction: row;
   width: auto;
   height: 100px;
   justify-content: space-evenly;
   align-items: center;
   margin: auto;
   background-color: #090101;
   border-radius: 5px;
}





.presentacion-salida {
    display: none;
}

.inicioNombre {
    text-align: center;
    cursor: pointer;
    font-size: 3.6rem;
    font-family: 'Open Sans', sans-serif;
    color: rgb(234, 230, 230);
    color: white;
	text-shadow: 0 0 3px #F10D58, 0 0 7px #ed210f;
    margin-bottom: 5rem;
}

.inicioImagen {
    width: 600px;
    height: 600px;
    border-radius: 5px;
    box-shadow: -1px -1px 20px 3px rgb(45, 44, 44);
    animation: aparecer 4s;
    border-radius: 30%;
    cursor: pointer;
}

.inicioImagen:hover {
    
}

@keyframes aparecer {
    0% {
        opacity: 0;
        border-radius: 60%;
    }

    60% {
        opacity: 0.5;
        border-radius: 10%;
    }
    100% {
        opacity: 2;
        border-radius: 30%;
    }
}

.sect1 {
    margin: auto;
    margin-top: 6rem;
    width: 70vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
}

.container {
    width: 400px;
    height: 400px;
    transform-style: preserve-3d;
    animation: girar 2s infinite linear;
}


.cara img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cara {
    width: 400px;
    height: 400px;
    position: absolute;
    /* backface-visibility: hidden; */ /* oculta la parte trasera */
}

.cajita1 {
    transform: translateZ(200px);
}

.cajita2 {
    
    transform: translateX(200px) rotateY(90deg);   
}

.cajita3 {
  transform: translateZ(-200px);
    
}

.cajita4 {
  transform: translateX(-200px) rotateY(90deg);
} 

.cajita5 {
    transform: translateY(-200px) rotateX(90deg);
}

.cajita6 {
    transform: translateY(200px) rotateX(90deg);
}


@keyframes girar {
    0% {
        transform: rotateY(0deg) rotateX(0deg);
    }  
    
    100% {
        transform: rotateY(360deg) rotateX(360deg);
    }
};  

.galeria {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
}

.imgg {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

 @keyframes abrir {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.probando {
    width: 50%;
    height: 50%;
    animation: mmm infinite 10s;

}

.position {
    position: absolute;
    background-image: url(./imagenes/gif1.gif);
    background-size: cover;
    width: 50%;
    height: 50%;
}

@keyframes mmm {
    20% {
        background-image: url(./imagenes/EZEQUIEL.jpeg);
        background-size: cover;
    }

    40% {
        background-image: url(./imagenes/alumn2.jpg);
        background-size: cover;
    }

    60% {
        background-image: url(./imagenes/gif17.jpg);
        background-size: cover;
    }

    80% {
        background-image: url(./imagenes/WhatsApp\ Image\ 2022-08-03\ at\ 1.59.29\ PM.jpeg);
        background-size: cover;
    }

    100% {
        background-image: url(./imagenes/gif1.gif);
        background-size: cover;
    }
}

/* PAGINA TATTOO */

.conteinerTattoo {
    width: 100%;
    height: 100vh;
}

.sectImg {
  background-color: black;
  margin: auto;
  width: 90vw;
  height: 100vh;
}

.imgTattoo {
    width: 300px;
    height: 300px;
    margin: 10px;
}

.imgTattoo:hover {
    border-bottom: #f3eff0 solid 1px;
    opacity: 0.8;
}

.sectImg2 {
 background-color: black;
  margin: auto;
  width: 90vw;
  height: 100vh;
}

.imgT2 {
    width: 300px;
    height: 300px;
    margin: 10px;
}

/* CONTACTO */

.contacto {
    display: flex;
    flex-direction: row;
    background-color: #f2f2f0;
    padding: 1rem;
  }
  
  .contacto__redes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 2rem;
  }
  
  .contacto__redes-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FBFCFC;
    width: 400px;
    height: 350px;
    padding: 2rem;
    margin: 10px;
    border-radius: 5px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  }
  
  .contacto__redes-text {
    padding: 5px;
    font-family: 'Oswald', sans-serif;
    color: #212121;
  }
  
  #titulo {
    font-size: 2rem;
  }
  
  #subtitulo {
    font-size: 1.3rem;
   
  }
  
  .iconoredes {
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
  }
  
  .contacto__form {
    margin-right: 1rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  #datos {
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    width: 45%;
    margin: 0.5rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    border-radius: 2px;
    border: white 1px solid;
  }
  
  #textarea {
    width: 92%;
    height: 45%;
    margin: 0.5rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    border-radius: 5px;
    border: white 1px solid;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  }
  
  #mensaje {
    padding-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    color: #212121;
    border-radius: 5px;
    
  }
  
  #enviar {
    font-size: 1rem;
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    color: #212121;
    background-color: white;
    border: 1px solid white;
  }
  
  #enviar:hover {
    background-color: #333366;
    cursor: pointer;
  }

  /* PAGINA BODAS */
  .section {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 2rem;

  }

  .div1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .div2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    object-fit: cover;
    height: auto;
  }

  .div3 {
    width: 40%;
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .imgAcord {
    max-width: 100%;
    min-height: 700px;
    max-height: 700px;
    object-fit: cover;
    margin: 5px;
    border-radius: 5px;
    transition: transform .2s;
    animation: aparecerImg 3s;
  }

  .imgAcord:hover {
    border-radius: 10px;
    border: solid #070505 1px;
  }

  @keyframes aparecerImg {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 2;
    }
  }

/* Pagina niños */

.textoN {
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.bebeInicio {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-left: 20%;
}

.card {
    margin: auto;
    margin-top: 8%;
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);

}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
    /* transform: scale(1.2); */
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

.inicioNiños {
    width: 100vw;
    height: 60vh;
}

.galeriaNiños {
    width: 100vw;
    height: 100%;
    background-color: #eaf7f7c5;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.imgBebe {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin: 1rem;
}





/* MOBILE */

@media screen and (max-width: 600px) {
    
.section1 {
    height: 100vh;
}

.inicioImagen {
    width: 320px;
    height: 320px;
    }

.container {
    display: none;
}

.ul {
    display: none;
}

.navMobile {
    background-color: #e5dede;
    height: 100px;
}

.menuMobile {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 5px;
    top: 5px;
}


}
